# Environnement Python
venv/
env/
.venv/

# Cache Python
__pycache__/
*.py[cod]

# Modèles et fichiers lourds
*.pt
*.pth
*.safetensors
*.bin

# Jupyter / Colab
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement
.env

# Logs
*.log